body{
font-family: Arial;
margin:0;
background:#fff8e1;
}

header{
background:#ff5722;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#ff9800;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
font-weight:bold;
text-decoration:none;
}

nav a:hover{
color:black;
}

section{
padding:20px;
}

h1{
color:white;
}

h2{
color:#d84315;
}

h3{
color:#ff6f00;
}

footer{
background:#ff5722;
color:white;
text-align:center;
padding:10px;
}
